<form (ngSubmit)="inventorySave()" [formGroup]="form">
  <div mat-dialog-title class="flex justify-between">
    <h2 class="headline m-0 text-xl text-accent">
      <strong>Gestión de Inventarios</strong>
    </h2>
    <button class="text-secondary" mat-dialog-close mat-icon-button>
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>
  <mat-dialog-content>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Código</mat-label>
        <input matInput formControlName="code" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Activo</mat-label>
        <input matInput formControlName="active" />
      </mat-form-field>
    </div>
    <app-select-autocomplete
      label="Tipo de Equipo"
      [control]="form.get('equipmentTypeId')"
      [required]="true"
      [listOptions]="equipmentTypeSelect"
    ></app-select-autocomplete>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Marca</mat-label>
          <input matInput formControlName="brand" />
          <mat-error *ngIf="form.get('brand').hasError('required')">
            Campo Marca es requerido.
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Modelo</mat-label>
          <input matInput formControlName="model" />
          <mat-error *ngIf="form.get('model').hasError('required')">
            Campo Modelo es requerido.
          </mat-error>
        </mat-form-field>
      </div>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Serie</mat-label>
      <input matInput formControlName="series" />
      <mat-error *ngIf="form.get('series').hasError('required')">
        Campo Serie es requerido.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
        <mat-label>Precio</mat-label>
        <input matInput type="number" formControlName="price" />
        <mat-error *ngIf="form.get('price').hasError('required')">
          Campo Precio es requerido.
        </mat-error>
      </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Detalles</mat-label>
      <input matInput formControlName="details" />
      <mat-error *ngIf="form.get('details').hasError('required')">
        Campo Detalles es requerido.
      </mat-error>
    </mat-form-field>

    <app-img-selector
      [urlCurrentImg]="this.form.get('image').value"
      (selectedImage)="selectedImage($event)"
    ></app-img-selector>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="state">
        <mat-option
          *ngFor="let state of configs.statesSelect"
          [value]="state.value"
        >
          {{ state.label }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('state').hasError('required')">
        Campo Estado es requerido.
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>CANCELAR</button>
    <button
      color="purple"
      class="bg-accent text-accent-contrast"
      mat-button
      type="submit"
      [disabled]="form.invalid"
    >
      GUARDAR
    </button>
  </mat-dialog-actions>
</form>
